<header>
  <nav class="menu" role="navigation">
    <img src="../../../../assets/sw_logo.png" alt="Logo star wars">
    <ul class="navbar">
      <li><a [routerLink]="['']" class="link-item">Home</a></li>
      <li><a [routerLink]="['films']" class="link-item">Filmes</a></li>
      <li><a [routerLink]="['search']" class="link-item">Buscar</a></li>
      <!-- <li><a [routerLink]="['/peoples']" class="link-item">Pessoas</a></li>
      <li><a [routerLink]="['/vehicles']" class="link-item">Veiculos</a></li>
      <li><a [routerLink]="['/planets']" class="link-item">Planetas</a></li>
      <li><a [routerLink]="['/species']" class="link-item">Especies</a></li>
      <li><a [routerLink]="['/starships']" class="link-item">Starships</a></li> -->
    </ul>
  </nav>
</header>
