<!-- <a class="card" href="https://codetheweb.blog/2017/10/06/html-syntax/" style="--bg-img: url(https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=1500&url=https://codetheweb.blog/assets/img/posts/html-syntax/cover.jpg)">
  <div>
    <h1>filmInfos.title</h1>
    <p>filmInfos.opening_crawl</p>
    <div class="date">filmInfos.episode_id</div>
    <div class="tags">
      <div class="tag">filmInfos.url</div>
    </div>
  </div>
</a> -->

  <div class="card">
    <ng-content></ng-content>
  </div>
